@model Projekt_PlatformyDoOrganizacjiWydarzen.Models.EventsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EventsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="place" class="control-label"></label>
                <input asp-for="place" class="form-control" />
                <span asp-validation-for="place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="event_type" class="control-label"></label>
                <select class="form-control" id="event_type" name="event_type">
                    <option>płatne</option>
                    <option>bezpłatne</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="hour" class="control-label"></label>
                <input asp-for="hour" class="form-control" />
                <span asp-validation-for="hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tickets" class="control-label"></label>
                <input asp-for="tickets" class="form-control" />
                <span asp-validation-for="tickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tickets_per_person" class="control-label"></label>
                <input asp-for="tickets_per_person" class="form-control" />
                <span asp-validation-for="tickets_per_person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

