<head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <style>
        .index-desc {
            text-align: center;
            font-size: 30px;
            font-family: 'Indie Flower', cursive;
        }

        .index-desc-substr {
            color: gray;
            font-family: Consolas,cursive;
            font-size: 10px;
        }
    </style>
</head>
@{
    ViewData["Title"] = "Pento kiełbasy";
}

<div class="text-center">
    <h1 class="display-4">EEEEELO</h1>
    <div class="gallery">
        <div><a href="https://www.instagram.com/danielek1202/">
    <img src="~/Additional/0028.jpg" /></a>
        </div>
        <div><a href="https://www.instagram.com/adas_sulimadolina/">
            <img src="~/Additional/0033.jpg" /></a></div>
        <div><a href="https://www.instagram.com/kacper.charko/">
            <img src="~/Additional/58691904_576375322856733_329075373402750976_n.jpg" />
            </a>
        </div>
    </div>
    <div class="index-desc">
        <p class="index-desc-substr">click image to go to the person's page</p>
        <p>
            This is Pento Kiełbasy. There is nothing better than Pento Kiełbasy. Szczególnie than krakowska dry.
            Just an example of text to fill up some words. Pento created by:
            (from the left) Daniel Kamiński, Adam Sulima Dolina, Kacper Charko.
        </p>
    </div>
</div>
