@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<ul class="kontakt">
    <li>
        <p>Daniel IG:</p>
    </li>
    <li>
        <p>Adam IG:</p>
    </li>
    <li>
        <p>Kacper IG:</p>
    </li>
</ul>
